.header {
   width: 100%;
   padding: 10px;
   background-color: #fffbe2;
   display: flex;
   align-items: center;
   justify-content: center;
   display: none;
}
.header > img {
   width: 40px;
}
.header > p {
   margin-top: 10px;
}

@media screen and (max-width: 480px) {
   .header {
      display: flex;
   }
}
